footer {
  padding-block: 24px;
  
  gap: 24px;
  display: flex;
  
  font: 14px/150% var(--font-family);

  @media (max-width: 540px) {
    font-size: 10px;
  }

  @media (max-width: 420px) {
    font-size: 7px;
  }
}

footer span:nth-child(1) {
  margin-right: auto;
}
