header {
  padding-block: 32px;
  
  font: var(--text-md);
}

header .container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

#profile {
  gap: 32px;
  display: flex;
}

#profile > div {
  max-width: 384px;
}

#profile img {
  width: 176px;
  height: 176px;
  
  border-radius: 50%;
}

#profile h1 {
  margin-bottom: 8px;
  
  font: var(--text-lg);
  color: var(--text-color-primary);
}

#info {
  width: 280px;
  
  gap: 16px;
  display: flex;
  list-style: none;
  flex-direction: column;
}

#info li {
  gap: 8px;
  display: flex;
  align-items: center;
}

