header {
  padding-block: 32px;
  
  font: var(--text-md);
}

header .container {
  display: flex;
  align-items: center;
  justify-content: space-between;

  @media (max-width: 816px) {
    gap: 24px;
    flex-direction: column;
    align-items: flex-start;
  }

  @media (max-width: 600px) {
    align-items: center;
  }

  @media (max-width: 414px) {
    h1{
      text-align: center;
    }
  }
}

#profile {
  gap: 32px;
  display: flex;

  @media (max-width: 600px) {
    align-items: center;
    flex-direction: column;
  }
}

#profile > div {
  max-width: 384px;
}

#profile img {
  width: 176px;
  height: 176px;
  
  border-radius: 50%;
}

#profile h1 {
  margin-bottom: 8px;
  
  font: var(--text-lg);
  color: var(--text-color-primary);
}

#info {
  width: 280px;
  
  gap: 16px;
  display: flex;
  list-style: none;
  flex-direction: column;

  @media (max-width: 970px) {
    width: 145px;
  }
}

#info li {
  gap: 8px;
  display: flex;
  align-items: center;
}

